<div class="nav-container">
  <div class="nav-container__logo">
    <img src="../../assets/image/logo.png" class="logoo" alt="" loading="lazy">
  </div>

  <div class="nav-container__links">
    <input type="checkbox" id="menu-hamburgesa">
    <ul class="menu">
      <li><a href="#home">Inicio</a></li>
      <li><a href="#about">Acerca de</a></li>
      <li><a href="#services">Servicios</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>

    <label for="menu-hamburgesa"></label>
  </div>
</div>